@{
    ViewData["Title"] = "Shifts";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Shifts</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var employee in ViewBag.ss)
    {
        <tr>
            <td>@employee.SomeProperty</td>
            <td></td>
            <td></td>
            <td>
                @* <small> *@
                @*     @Html.ActionLink("AddShift", *@
                @*         "AddShift", *@
                @*         "Shifts", *@
                @*         new {id = employee.SomeProperty}, *@
                @*         new {@class = "text-small text-primary ml-3"} *@
                @*         ) *@
                @* </small> *@
            </td>
        </tr>
    }
    </tbody>
</table>