@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<form action="/login/PostLogin" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" type="text" placeholder="Username" required="">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" placeholder="Password" required="">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>